.header{
    display: flex;
    justify-content: space-between;
    padding: 5px;

    width: 1520px;

    .header-container{
        display: flex;
        gap: 15px;

        * {
            text-decoration: none;
            color: var(--text-color);
        }
    }
}