th {
    padding: 3px !important;
}

.inventory-inside {
    width: 100%;
    // box-sizing: border-box;
    height: 100%;
    font-size: 14px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}

.inventory-top {
    display: flex;
    justify-content: space-between;
}

.search-input {
    background: var(--ternary-color);
    border: none;
    outline: none;
    height: 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    font-weight: 600;
    padding-left: 7px;
    padding-top: 3px;
    color: var(--search-text);

    &::placeholder {
        color: var(--search-text-placeholder);
    }
}

.magnifying-glass {
    padding: 2px;
    height: 20px;
    background: var(--ternary-color);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.search {
    display: flex;
}

.search-bar {
    display: flex;
    align-items: center;
    height: 24px;
    gap: 5px;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 22px;
    padding: 0 6px;
    border: 1px solid var(--text-color-2);
    border-radius: 10px;
    color: var(--text-color-2);

    div {
        height: fit-content;
    }

    img {
        height: 10px;
    }
}

.inventory-bottom {
    display: flex;
    justify-content: space-evenly;
}

.option-button {
    padding: 5px;
    margin-top: 3px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
}

.more-info {
    margin: 2px;
}

/* New styles added */
.table-cell-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.editable-input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 3px;
    font-size: inherit;
    border: none;
    outline: none;
    background-color: #494949;
    color: var(--text-color);
}

.goods-list td {
    max-width: 105px;
    overflow: hidden;
}

.goods-list img {
    max-width: 100%;
    height: auto;
}

.sort-dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
}