.order{
    width: 546px !important;
    height: 100%;

    .order-header{
        display: flex;
        gap: 7px;

        .order-input{
            display: flex;
            flex-direction: column;

            

            label{
                padding-left: 2px;
                font-size: 12px;
            }

            .text-input{
                background: #ffffff00;
                outline: none;
                border: 1px solid var(--border-color);
                border-radius: 6px;

                color: var(--text-color);

                &:disabled{
                    color: var(--disabled);
                    border: 1px solid var(--disabled);
                }
            }
        }

        

        .order-checkbox{
            display: flex;
            align-items: center;

            label{
                padding-left: 2px;
                font-size: 12px;
            }
        }

        .order-padding{
            padding-top: 8px;
        }
    }
}

.list-input{
    width: 30px;

    background: #ffffff00;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 6px;

    color: var(--text-color);
}

.order-list {
    overflow-y: scroll;
    height: 250px;
}

.subtotal{
    display: flex;
    flex-direction: column;
}

.order-bottom{
    display: flex;
    justify-content: space-between;
}

.order-confirm{
    display: flex;
    justify-content: space-between;
}