.page-container {
    padding: 5px;
    padding-top: 0px;
}

.main-container{
    background-color: var(--primary-color);
    width: fit-content;
    min-height: 250px;
    min-width: 350px;
    padding: 7px;
    border-radius: 14px;
    position: relative;
}