.home-column{
    display: flex;
    flex-direction: column;
    gap:5px;
    // max-height: calc(100vh - 75px);
    height: calc(var(--screen-y) - 80px);  
}


.column-regular{
    display: flex;
    flex-direction: column;
    gap:5px;
    // max-height: calc(100vh - 75px);
    height: 100%; 
}

.middle-column{
      
    display: block !important;
}

.bar-column{
    .container{
        align-items: baseline;
    }
}

