.container {
    padding: 5px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.main-container{
    background-color: var(--primary-color);
    width: fit-content;
    // min-height: 200px;
    min-width: 370px;
    padding: 7px;
    border-radius: 14px;
    position: relative;
    display: block;
}

.ct-container{
    width: 930px;
    display: flex;
    flex-direction: column;
}
