* {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--primary-color);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--ternary-color);
        border-radius: 10px;
        border: 2px solid var(--primary-color);
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--secondary-color);
    }
}
